@import 'bootstrap/dist/css/bootstrap';

.search-area{
    padding-top: 50px;
}

.search-bar{
    padding-right: 0 !important;
}

.search-button{
    padding-left: 0 !important;
}

.results-block{
    display: inline-block;
}