<footer class="mt-5 py-4 bg-light text-dark">
    <div class="container text-center">
        <small>
        Copyright &copy; <%= link_to "FredMM", "https://oceanwaves81.com", class:
        "text-dark" %>
        </small>
    </div>
</footer>