<div class="jumbotron text-center intro">
    <h1 class="display-4">Welcome to the Finance Tracker App</h1>
    <p class="lead">Reach your goals with personalized insights, track, compare and share it with your friends.</p>
    <hr class="my-4">
    <p>Your best finance tracker starts here.</p>
    <%= link_to 'My Portfolio', my_portfolio_path, class:"btn btn-primary btn-lg" %> 
</div>