<div class="card bg-dark text-white text-center welcome">
    <div class="card-img-overlay">
        <h1 class="card-title"> Don't waste anymore time</h1>
        <h3 class="card-text">Try our free App to track stocks</h3>
    </div>
</div>